# Archivos de Python & Django
*.pyc
*~
__pycache__
*.log

#Entorno
.env
.env.dev
.env.prod
.env.prod.db

#Docker
docker-compose.prod.yml
docker-compose.yml
Dockerfile
Dockerfile.prod


# Virtual Env
ecad_venv/


# Node modules
node_modules/


# Database 
db.sqlite3


# Otros
.DS_Store
.vscode
.idea
nginx/
entrypoint.prod.sh
entrypoint.sh
staticfiles/
app/mediafiles/categories/*
migrations/