.img-upload{
    // background-color: red;
    border: solid 1px #D6D6D6;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
    *{
      margin: 10px 10px 10px 0px;
    }
  }


.no-underline{
  a:hover{
    text-decoration: none;
  }
}

.cta-card{
    letter-spacing: 2px;
    border: 1px solid rgb(209, 209, 209);
    border-left-width: 3px;
}

.sidenav-icon{

    background-color:red;
}

#body-row {
    margin-left:0 !important;
    margin-right:0 !important;
}
#sidebar-container {
    min-height: 100vh !important;   
    background-color: #333;
    padding: 0;
}

.menu-collapsed {
    font-size: 1rem;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px !important;
}
.sidebar-collapsed {
    width: 60px !important;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;

    span{
        //Submenu
        font-size: 0.9rem !important;
    }
}
.sidebar-submenu {
    font-size: 0.9rem !important;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.center {
  text-align: center;
  list-style-position: inside;
}




